<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <certisign_ordercustomcode>
            <general>
                <enabled>1</enabled>
                <prefix>VAL</prefix>
                <date_format>Ym</date_format>
                <separator>-</separator>
                <pattern>{prefix}{sep}{date}{sep}{increment}{sep}{qty}</pattern>
            </general>
            <success>
                <enabled>1</enabled>
                <label>Custom Code:</label>
            </success>
        </certisign_ordercustomcode>
    </default>
</config>
